* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Georgia";
  src: url(../assets/fonts/NotoSerifGeorgian-VariableFont_wdth\,wght.ttf);
}

body {
  background: #232323;
  font-family: "Georgia";
  color: #f7f6f6;
  position: relative;
  padding-bottom: 120px;
  min-height: 100vh;
}


.notDisplay {
  display: none;
}

.nowDisplay {
  display: block;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.main .tarjeta {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 20px;
  width: 22.9%;
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
}

.main .tarjeta img {
  width: 100%;
  height: auto;
}

.main .tarjeta h5,
h3 {
  font-weight: bold;
}

.main .tarjeta .contenedor-img {
  display: flex;
  justify-content: center;
}

.main .tarjeta .button-white {
  background-color: #f7f6f6;
  color: black;
}

.boton,
.main .tarjeta .button-white,
.button-black {
  border: none;
  border-radius: 0.375rem;
  padding: 8px;
  font-weight: 500;
  transition: all 0.3s;
}

.boton:hover,
.main .tarjeta .button-white:hover,
.button-black:hover {
  background: #A90101;
  color: #f7f6f6;
}

.button-black {
  background: black;
  color: #f7f6f6;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}

.main .tarjeta .checkContainer {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.main .tarjeta .checkContainer .checkBeast {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.control-panel .busqueda button {
  border: none;
  border-radius: 0.375rem;
  padding: 2px 6px;
  margin-left: 10px;
  font-weight: 500;
  transition: all 0.3s;
  background-color: #f7f6f6;
  color: black;
}

.control-panel .busqueda button:hover{
  background: #A90101;
  color: #f7f6f6;
}

.control-panel .busqueda input,
.ordenar-b select {
  border-radius: 0.375rem;
  padding: 2px 6px;
}
